[submodule "agent-chat-ui-2"]
	path = agent-chat-ui-2
	url = https://github.com/langchain-ai/agent-chat-ui.git
[submodule "src/executive-ai-assistant"]
	path = src/executive-ai-assistant
	url = https://github.com/langchain-ai/executive-ai-assistant.git
